#make sure that all distance units are the same
#0 0 -1
#0 1 0
#1 0 0
Rrl=0 0 -1 0 1 0 1 0 0

#dl 0 dr
trl=17.8 0 17.6

left_start_id=0
left_rows=7
left_cols=5
left_tag_black_length=3.2

right_start_id=35
right_rows=7
right_cols=5
right_tag_black_length=3.2

AprilCalibprocessor::tagTextScale=0.4
AprilCalibprocessor::tagTextThickness=1

ImageSource::pause=0
ImageSource::loop=0